---
import { Picture } from "astro:assets";
import Icon from "../components/Icon.astro";

const { profil, name, job, iconJob, review } = Astro.props;
---

<div class="author">
    <Picture
        formats={["avif", "webp"]}
        src={profil}
        alt="made in france"
        densities={[1, 2]}
        width="176"
        height="176"
        quality="99"
    />
    <h3>/{name}</h3>
    <div class="job-wrapper">
        <Icon name={iconJob} />
        <span>{job}</span>
    </div>
    <p set:html={review} />
</div>
<script>
    const authors = document.querySelectorAll(".author");
    const io = new IntersectionObserver(
        (entires) => {
            entires.forEach((entry) => {
                if (entry.isIntersecting) {
                    entry.target.classList.add("author-visible");
                    io.unobserve(entry.target);
                }
            });
        },
        {
            rootMargin: "0px 0px -100px 0px",
        },
    );

    authors.forEach((author) => {
        io.observe(author);
    });
</script>
<style>
    h3 {
        font-family: Tartuffo, sans-serif;
        font-weight: 400;
        font-size: 20px;
        margin-bottom: 16px;
        color: var(--fg1);
    }
    .job-wrapper {
        display: flex;
        align-items: center;
        gap: 3px;
        margin-bottom: 24px;
        justify-content: center;

        @media screen and (min-width: 1024px) {
            justify-content: flex-start;
        }

        & span {
            font-family: Gustavo, sans-serif;
            font-weight: 500;
            font-size: 14px;
            line-height: 150%;
            color: var(--fg1);
            margin-bottom: 4px;
        }
    }

    p {
        font-family: Gustavo, sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: var(--fg3);
        width: 70%;
        margin: auto;

        @media screen and (min-width: 1024px) {
            width: 100%;
        }

        & > :deep(span) {
            font-family: Tartuffo, sans-serif;
        }
    }

    .author:nth-child(1) {
        @media screen and (min-width: 1024px) {
            margin-top: 80px;
            transition-delay: 500ms;
        }
    }

    .author:nth-child(2) {
        @media screen and (min-width: 1024px) {
            margin-top: 160px;
            transition-delay: 600ms;
        }
    }

    .author {
        text-align: center;
        transform: translateY(30%);
        opacity: 0;
        transition: 2s cubic-bezier(0.17, 0.67, 0.24, 1);

        @media screen and (min-width: 1024px) {
            text-align: left;
        }
    }

    .author-visible {
        transform: translateY(0%);
        opacity: 1;
    }
</style>
